#index_main {
    background: var(--white);
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#index_main h3 {
    font-family: 'Source Sans Pro';
    color: gray;
    margin-bottom: 0;
}

.index_photo {
    width: 15%;
    filter: drop-shadow(0 0.2rem 0.25rem var(--lightgray));
}

.index_register_link {
    font-family: 'Source Sans Pro';
    color: var(--gray);
}

.index_register_link a {
    color: var(--gray);
}

.index_register_link a:visited {
    color: gray;
}

#index_form {
    background: var(--white);
    border-radius: 4px;
    padding: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Sans Pro';
    width: 70%;
}

#index_login_error {
    background: var(--white);
    font-family: 'Source Sans Pro';
    color: var(--red);
    padding-bottom: 1vh;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 1%;
    opacity: 1;
    animation: rollIn 0.8s;
    animation-fill-mode: forwards;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--lightgray);
    font-weight: 500;
}