:root {
    --blue: #6c63ff;
    --darkblue: #6159f8;
    --red: #d65555;
    --white: #ffffff;
    --darkwhite: #fff2f2;
    --gray: #808080;
    --lightgray: #cac6c6;
    --darkgray: #545454;
    --cloud: #F8F8F8;
}

::selection {
    background: var(--blue);
    color: var(--white);
}

@keyframes fadeIn {
    from{
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

@keyframes rollIn {
    from {
        top: -5%;
    }
    to {
        top: 1%;
    }
}


body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro';
}

main {
    opacity: 0.2;
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

#index_left {
    background: var(--white);
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#index_left h3 {
    font-family: 'Source Sans Pro';
    color: gray;
    margin-bottom: 0;
}

#index_right {
    float: right;
    width: 70%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index_photo {
    width: 15%;
    filter: drop-shadow(0 0.2rem 0.25rem var(--lightgray));
}

.index_register_link {
    font-family: 'Source Sans Pro';
    color: var(--gray);
}

.index_register_link a {
    color: var(--gray);
}


.index_register_link a:visited {
    color: gray;
}

#index_form {
    background: var(--white);
    border-radius: 4px;
    padding: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Sans Pro';
    width: 70%;
}

#index_login_error {
    background: var(--white);
    font-family: 'Source Sans Pro';
    color: var(--red);
    padding-bottom: 1vh;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 1%;
    opacity: 1;
    animation: rollIn 0.8s;
    animation-fill-mode: forwards;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--lightgray);
    font-weight: 500;
}

input {
    margin: 1vh;
    font-family: 'Source Sans Pro';
    border-radius: 2px;
    border: 1px solid var(--lightgray);
    padding: 1vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    width: 30%;
}

input[type="text"] {
    background-color: white;
    background-image: url(img/person.svg);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: right;
    background-position-x: 95%;
}

input[type="password"] {
    background-color: white;
    background-image: url(img/key.svg);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: right;
    background-position-x: 95%;
}

input:focus {
    background-image: none;
}

input::-moz-placeholder {
    opacity: 1;
    color: var(--lightgray);
    transition: 0.5s;
}

input:focus::-moz-placeholder {
    opacity: 0;
}

a {
    font-family: 'Source Sans Pro';
}

.button {
    background: var(--blue);
    border: none;
    color: var(--white);
    filter: drop-shadow(0 0.2rem 0.25rem var(--darkgray));
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 4px;
    margin-top: 1vh;
    cursor: pointer;
    transition: background 0.5s;
    text-decoration: none;
}

.button:visited {
    color: var(--white);
}

.button:hover {
    background: var(--darkblue);
}

#profile_background {
    width: 100%;
    height: 37%;
    background: var(--cloud);
}

#profile_person {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    top: 22%;
}

#profile_person img {
    filter: drop-shadow(0 0.2rem 0.25rem var(--gray));
    width: 70%;
}

#profile_person h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 40px;
    color: var(--darkgray);
}

.profile_person_username {
    font-size: 20px;
    color: var(--gray);
}

.profile_person_username:hover {
    text-decoration: underline;
    cursor: pointer;
}

#profile_content {
    background: var(--white);
    width: 100%;
    height: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profile_content_menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.profile_content_menu_button {
    background: white;
    color: var(--darkgray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.2s;
    padding: 1vh;
    margin: 1vh;
    width: 6%;
    text-decoration: none;
}

.profile_content_menu_button:hover {
    background: var(--blue);
    color: var(--white);
}

.profile_content_menu_button:hover svg {
    stroke: var(--white);
}

@media screen and (max-width: 1655px) {
    .profile_content_menu_button {
        width: 9%;
    }
}